body{
	background-color: #F8F8F8;
}

.main-section{
	margin: 0px 20px;
	border-radius : 10px
	box-shadow : 1px 1px 1px;

}
.heading{
	background-color : #F2F1F1;
	align-items : center;
	text-align : center;
	padding : 5px 0px
}

.book{
	background-color : #F2F1F1;
	padding : 10px;
	margin : 10px 0px;	
}
.book-img{
	align-items:center;
	text-align : center;
}
.author{
		color : rgb(119, 119, 119);
	
}

.book-button{
	background-color : rgb(46, 204, 113);
	color : rgb(255, 255, 255);
	width : 100%;
	border : none;
	border-radius : 5px;
	padding : 10px;
}